<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmentos/fragmentos :: head"></head>
<body>
    <!--fondo video-->
<video autoplay muted loop id="bg-video">
        <source th:src="@{/video/selva_gal.mp4}" type="video/mp4">
    </video>
<div th:replace="Fragmentos/fragmentos :: reserva"></div>
<div th:replace="Fragmentos/fragmentos :: login_cli"></div>
<!--Cabecera-->
<div th:replace="Fragmentos/fragmentos :: header"></div>
<!-- Galería -->
         
        <div class="galeria-titulo" id="galeria">
            <p class="subtitulo">Servicios</p>
            <h2 class="titulo-principal">Galería de Fotos</h2>
        </div>
        <section class="fotos">
            <div class="galery" style="background-image: url('imgs/juane.jpg')">
                <div class="content">
                    <h2>Juane</h2>
                    <a href="#">Ver detalles</a>
                </div>
            </div>
            <div class="galery" style="background-image: url('imgs/cecina.jpg')">
                <div class="content">
                    <h2>Tacacho con cecina</h2>
                    <a href="#">Ver detalles</a>
                </div>
            </div>
            <div class="galery" style="background-image: url('imgs/patarashca.jpg')">
                <div class="content">
                    <h2>Patarashca</h2> 
                    <a href="#">Ver detalles</a>
                </div>
            </div>
            <div class="galery" style="background-image: url('imgs/mar.jpg')">
                <div class="content">
                    <h2>Mar</h2>
                    <a href="#">Ver detalles</a>
                </div>
            </div>
            <div class="galery" style="background-image: url('imgs/laguna.png')">
                <div class="content">
                    <h2>Laguna</h2>
                    <a href="#">Ver detalles</a>
                </div>
            </div>
            <div class="galery" style="background-image: url('imgs/comida.jpg')">
                <div class="content">
                    <h2>Platano frito</h2>
                    <a href="#">Ver detalles</a>
                </div>
            </div>
        </section>
        <script src="scripts/scripts.js"></script>
</body>