<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmentos/fragmentos :: head"></head>
<body>

<div th:replace="Fragmentos/fragmentos :: reserva"></div>
<div th:replace="Fragmentos/fragmentos :: login_cli"></div>
<!--Cabecera-->
<div th:replace="Fragmentos/fragmentos :: header"></div>
<!--section-->
</section>

    <!-- Sección de sobre nosotros -->
        <section class="sobre-nosotros" id="sobre-nosotros">
           
            <div class="div-img-niños">
                <img id="img-niños" src="imgs/laguna.png" alt="niños felices en juego">
            </div>
            <div class="nosotros-cont">
            <h2 class="tituloCart">Un lugar para disfrutar en familia</h2>
            <h3 class="subtituloCart">En Restaurante El Sauce ofrecemos una experiencia gastronómica única frente a la Laguna Azul, en Tarapoto</h3>
            <p class="parrafoCart">Nos enfocamos en la calidez, la tradición y el sabor auténtico de la selva peruana, combinando un ambiente natural con platos preparados con ingredientes frescos de la región. Aquí cada visita se convierte en un momento especial para compartir y recordar</p>
            
                <div class="estadisticas-nosotros">
                    <div class="estats"><strong>14+</strong><span class="txt-estats">Años compartiendo tradición y sabor</span></div>
                    <div class="estats"><strong>50+</strong><span class="txt-estats">Platos típicos en nuestra carta</span></div>
                    <div class="estats"><strong>7+</strong><span class="txt-estats">Reconocimientos por nuestra comida y servicio</span></div>
                </div>
                <div id="datos-y-btn-info">
                    <div class="datos-nos-cont">
                        <div class="datos-nos"><i class="fas fa-baby"></i><span class="txt-datos">Atención de primera</span></div>
                        <div class="datos-nos"><i class="fas fa-chalkboard-teacher"></i><span class="txt-datos">Cocineros calificados</span></div>
                        <div class="datos-nos"><i class="fas fa-tasks"></i><span class="txt-datos">Ingredientes frescos del día</span></div>
                        <div class="datos-nos"><i class="fas fa-book-reader"></i><span class="txt-datos">Experiencia gastronómica auténtica</span></div>
                    </div>
                    <img id="click-nosotros" src="imgs/circuloplayazul.png" alt="nosotros btn infoo">
                </div>
            </div>
        </section>
        <script src="scripts/scripts.js"></script>
</body>